__pycache__/
.ipynb_checkpoints/

*.pyc
*.pyo

.env
venv/
.venv/

.idea/
.vscode/

.DS_Store

dataset/Accident_Information.csv
dataset/Vehicle_Information.csv
dataset/merged_accident_vehicle.csv
dataset/cleaned_accidents.csv